body{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}



.navigation-bar{
    background-color: #023370;
    height: 70px;
    margin: -8px;
    display: flex;
    justify-content: space-between;
}
.left-nav-bar{
    display: flex;
    align-items: center;
}
.right-nav-bar{
    display: flex;
    align-items: center;
}
.logo-image{
    height: 59px;
    width: 239px;
}



.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
    padding: 10px;
}
.icons{
    height: 70px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons:hover{
    background-color: #bb8d54;
}



.content{
    margin: -8px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
}
.sidebar-menu{
    height: calc(100vh - 70px);
    width: 240px;
    background-color: #37383a;
}
.profile{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
}
.profile-image{
    height: 100px;
    width: 75px;
    padding: 20px 15px;
    border-radius: 20%;
}
.profile-info{
    color: white;
    padding-right: 15px;
    width: 120px;
}
.sidebar-tools{
    display: flex;
    flex-direction: column;
    color: white;
}
.sidebar-topic{
    display: flex;
    padding-top: 5px;
    padding-left: 10px;
}
.sidebar-buttons{
    display: flex;
    align-items: center;
    height: 42px;
}
.sidebar-buttons:hover{
    background-color: #023370;
}



.main-window{
    background-color: #f8f9fa;
    width: calc(100vw - 240px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
}
.main-window-topic{
    width: calc(100vw - 240px);
    display: flex;
    justify-content: center;
}
.news{
    background-color: white;
    width: 25vw;
}
.news-image{
    width: 25vw;
}
.news-info{
    color: #023370;
}